**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
**/.env
**/.venv
**/venv/
**/ENV/
**/.git
**/.gitignore
**/.vscode
**/.idea
**/*.md
**/.DS_Store
**/node_modules
**/npm-debug.log
**/.coverage
**/.pytest_cache
**/*.db
**/*.sqlite
